<div class="row"><div class="col-sm-12">&nbsp;</div></div>
<div class="row">
    <div class="col-sm-12 text-center">
        <div class="btn-group btn-group-lg btn-group-justified">
            <div class="btn btn-default"><a href="#!/current">Current</a></div>
            <div class="btn btn-default"><a href="#!/counter">Counter</a></div>
            <div class="btn btn-default"><a href="#!/reset">Reset</a></div>
            <div class="btn btn-default"><a href="#!/settings">Settings</a></div>
        </div>
    </div>
</div>
